*~
*.pyc
*-checkpoint.ipynb
/Makefile
config.log
config.status
git.version
ups/eups.table
doc/eups.aux
doc/eups.dvi
doc/eups.html
doc/eups.log
doc/eups.out
doc/eups.pdf
doc/eups.toc
tests/_userdata_
tests/tst.current
tests/tst.version
tests/ups_db/_servers_
tests/global.tags
tests/ups_db/base/1.0.version
tests/ups_db/base/current.chain
tests/Linux/newprod/1.0/ups/newprod.table
tests/ups_db/Linux/newprod/1.0/ups/newprod.table
tests/ups_db/Linux/newprod/1.1/ups/newprod.table
tests/ups_db/Linux/newprod/2.0/ups/newprod.table
bin/setups.csh
bin/setups.sh
bin/setups.zsh
TAGS
autom4te.cache
eups_impl.py
bin/eups
bin/eups_setup
bin/eups_setup_impl.py
